/* 1. RESET */
/* * means select everything*/
* {
  /* every browser adds its own default spacing*/
  margin: 0; /* removes outside spacing*/
  padding: 0; /* removes inside spacing*/
  box-sizing: border-box; /* without this width grows unexpectedly*/
}

/* 2. BODY */
body {
  background-color: black; /* changes page color*/
  color: white; /*  changes text color*/
  font-family: Arial, sans-serif; /*font family */
}

/*Heading*/
h1 {
  color: #e50914;
}

.title {
  /*  class starts with . */
  color: red;
}

#hero {
  /* id starts with #  */
  background: black;
}

.hero {
  min-height: 100vh;
  background-image: url("images/hero.jpg");
  background-size: cover; /* makes images cover the entire section*/
  background-position: center; /* keeps image centered */
  background-repeat: no-repeat; /* stops repeating */
  height: 100vh; /*entire screen */
  position: relative; /* we need this for the dark overlay in tfhe next step*/
}

/* DARK OVERLAY */

.hero::before {
  content: ""; /* browser is sceretly creating an overlay at the header */
  /*empty string for pseudo element to exists */
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.65);
}

.hero-content,
nav {
  position: relative;
  z-index: 1;
}

/* 3. NAVIGATION  */
nav {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%; /* to let navigation bar span the entire screen */
  height: 70px;

  background: black;
  display: flex; /*  without flex everything stacks*/
  justify-content: space-between; /* move items apart*/
  align-items: center; /* centers vertically*/
  padding: 20px 100px; /* top bottom and left right respectively */
  z-index: 1000; /*places element above others */
}

/* CREATING A DRAK OVERLAY FOR BG IMAGE WITH PSEUDO ELEMENT*/

/* 4.  LOGO BUTTONS*/

.logo {
  color: #e50914;
  font-size: 2rem;
  font-weight: bold; /* thicker letters */
}

/*  styling the signin button*/
.signin-btn {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  cursor: pointer; /*without it it will show normal arrow
    with it it will show hand cursor which tells this is clickable */

  font-size: 1rem;
}

/* center the hero content */

.hero-content {
  display: flex;
  flex-direction: column; /*changes the items in columns which is perfect for titles and para */
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

/* making the heading bigger */

.hero-content h1 {
  font-size: 3.5rem;
  max-width: 700px; /*changes one long single statement to a cleaner readable form after putting , it changes the line */
  margin-bottom: 20px;
}
/*  style the subtitle*/
.hero-content h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* style the paragraph*/

.hero-content p {
  margin-bottom: 25px;
  font-size: 1.1rem;
}

/* 5. FORMS */

.email-form {
  display: flex; /*  to place 2 items in one row*/
  gap: 10px; /* adds space between input and button */

  max-width: 500px;
  margin-bottom: 20px; /* adds space below the form */
}

.email-form input {
  flex: 1; /* all the available space taken by input button */
  padding: 15px;
  font-size: 1rem;
}

.email-form button {
  padding: 15px 25px;
}

.trending {
  /* it will give space around the sections */
  padding: 50px 100px;
}

.trending h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.movie-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  /*grid-template-columns: repeat(
    4,
    1fr
  ); creates 4 equal col  
    1fr means taking one equal fraction of available space */
}

/* movie cards*/

.movie-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* add smooth animation*/

.movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;

  /* transition: property  duration  timing-function
  transform: what are we animating
  0.3s: animation duration
  ease: how the animation starts and ends*/
  transition: transform 0.3s ease; /* the image will grow  means jump to bigger size without transition*/
}

/* hover effect*/

.movie-card:hover img {
  transform: scale(1.08);
}

.badge {
  position: absolute; /*places badge 10px from top and 10px from left of that movie card*/
  top: 10px;
  right: 10px;
  z-index: 10;

  display: block;
  width: max-content;
  height: auto;

  background: red;
  color: white;

  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.2;

  white-space: nowrap;
}

.movie-card {
  position: relative;
}

.movie-card button {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  opacity: 1;
  visibility: visible;

  transition: all 0.3s ease;
}

.play-btn {
  display: block;
}

.movie-card:hover button {
  opacity: 1; /* when hover the button is visible*/
  transform: translate(-50%, 0); /* moves it smoothly upward*/
}
.movie-card button:hover {
  background-color: #b20710;
}

/* RESPONSIVE*/

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  nav {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .email-form {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .hero-content {
    height: 70vh;
  }
}

@media (max-width: 768px) {
  .email-form button {
    width: 100%;
  }
}

.trending {
  /* it will give space around the sections */
  padding: 50px 100px;
}

.trending h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* flexbox is best for 1-d layout
grid is best for 2-d layout
*/

@media (max-width: 768px) {
  .movie-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* position:fixed is a fixed element attached to the browser window not to the pafe content*/
nav {
  position: fixed;
  top: 0;
  left: 0;
}

.box {
  width: 150px;
  height: 150px;
  background: red;

  position: relative;
  left: 50px;
  top: 30px;
}

.badge {
  position: absolute; /*places badge 10px from top and 10px from left of that movie card*/
  top: 10px;
  right: 10px;
  z-index: 2;

  background: red;
  color: white;

  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

.error {
  color: red;
}

.success {
  color: green;
}

.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.movie-card.selected {
  transform: scale(1.05); /*make the card bigger*/
}

.movies {
  padding: 30px 40px;
}

.movies h2 {
  margin-bottom: 15px;
}

.movie-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.movie-card img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.movie-card:hover {
  transform: scale(1.08);
}

.no-results {
  font-size: 20px;
  text-align: center;
  padding: 30px;
}

.category-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.category-btn {
  padding: 8px 18px;
}

.category-btn.active {
  transform: scale(1.05);
  font-weight: bold;
}

.search-input {
  width: 300px;
  height: 40px;
  padding: 8px 12px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.movie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 0;
}

body {
  overflow-x: hidden;
}
.no-movies {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 40px;
}
.play-btn {
  display: block;
  visibility: visible;
  opacity: 1;
  position: relative;
  z-index: 10;
}

.movie-card {
  position: relative;
}

.movie-card .play-btn {
  display: block !important;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  opacity: 1 !important;
  visibility: visible !important;
}

.movie-card .favorite-btn {
  display: block !important;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
}

/* Video Player*/

.video-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 9999;
}

.video-player.hidden {
  display: none;
}

#movieVideo {
  width: 70%;
  max-width: 900px;
  max-height: 80vh;
  margin-top: 70px;
}

.close-video {
  position: absolute;
  top: 20px;
  right: 30px;
  background: none;
  color: white;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
